.field
  %table.puppylisting
    %thead
      %tr
        %th
        %th
          Puppy
        %th
          Status
    %tbody
      = render partial:"puppy_row",collection: @puppies
    = link_to "Create a new puppy", new_puppy_path, remote: true, id: "new_link"
