.field
  %table.puppylisting
    %thead
      %tr
        %th
          Puppy
        %th
          Status
    %tbody
      - @puppies.each() do |puppy|
        %tr
          %td
            =link_to puppy.name, puppy
          %td
            =puppy.status
  = link_to "Create a new puppy", new_puppy_path
