
 <div class="field">
  <% if @puppy.owner%>   
    <%=  @puppy.owner.email + " has the puppy" %>
  <% else %>
    <%=   "The puppy is available" %>
  <% end %>
<% form_tag do %>  
  <% if current_user %>
      <%= button_to "Check out the puppy","puppy/take" %>
dfkjsldfjkl
         
  <% end %>
<%end %>
</div>
